* { box-sizing: border-box; }
body { font-family: Cantarell, Ariel, Helvetice, sans-serif; font-size: 22px; background-color: #F1F1F1; }
header { background-color: #666; padding: 30px; text-align: center; font-size: 24px; color: white; }
section { display: -webkit-flex; display: flex; }
nav { -webkit-flex: 1; -ms-flex: 1; flex: 1; background: #ccc; padding: 20px; }
nav menu { list-style-type: none; padding: 0; }
nav menu a { background-color: #CCC; color: black; text-decoration: none; }
nav menu a:hover { background-color: #777; color: white; }
footer a { background-color: #777; color: white; }
footer a:visited { color: white; }
article { -webkit-flex: 3; -ms-flex: 3; flex: 3; background-color: #f1f1f1; padding: 10px; }
#db th { background-color: #CCC; }
#db tr:nth-child(odd) { background-color: #DDD; }
#db td { cursor: pointer; }
#db td.numeric { text-align: right; }
#db tr:hover { background-color: #666; color: white; }
ul.table { list-style-type: none; }
ul.table li a { text-decoration: none; color: black; }
ul.table li a:visited { color: black; }
ul.table li a:hover { background-color: #CCC; color: white; }
.form { text-decoration: none; color: black; }
.form:visited { color: black; }
footer { background-color: #777; padding: 10px; text-align: center; color: white; }
@media (max-width: 600px) { section { -webit-flex-directon: column; flex-direction: column; } }
